body {
  background-color: black;
  color: white;
  margin: auto;
}

.test {
  color: black;
  position: absolute;
  font-size: 3rem;
}
header {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 4rem;
  margin-bottom: 1rem;
  background: linear-gradient(360deg, red, black);
}
.scores {
  display: flex;
  justify-content: center;
  gap: 10rem;
  font-size: 3rem;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

.card {
  display: flex;
  position: relative;
  padding-bottom: 1rem;
  margin: 1em;
  background-color: aliceblue;
  transition: 0.3s;
}

.cardName {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 0;
  font-size: larger;
  width: 100%;
  overflow: hidden;
  transition: 0.3s ease;
  color: transparent;
}

.card:hover .cardName {
  background-color: rgb(255, 0, 0, 0.8);
  width: 100%;
  color: white;
  height: 15%;
}

.card:hover {
  transition: 0.3s;
  background-color: rgb(255, 0, 0, 0);
  transform: scale(1.2);
}
img {
  width: 11rem;
  transform: scale(1.1);
  position: center;
}
